.files-list{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 0;
  overflow: hidden;
  background: #cfcece;
  opacity: 0;
  overflow-y: auto;
  transition: width 500ms, opacity 500ms ease-in-out;

  &--visible{
    width: 40rem;
    opacity: 1;
  }

  &__search{
    margin: 0 .5rem;
    width: auto;
    position: relative;
    margin-bottom: 1rem;
  }

  &__header{
    display: flex;
    background: transparent;
    padding: .5rem;
  }

  &__heading{
    font-weight: bold;
  }

  &__close-button{
    border: none;
    margin-left: auto;
    border-radius: 5px;
    background: #FF4747;

    svg{
      width: 24px;
      fill: white;
    }
  }

  .breadcrumb{
    background: transparent;
    padding: 0 .5rem;
    margin: .5rem;
    flex-wrap: nowrap !important;
    
    &__item{
      white-space: nowrap;
      font-size: .75rem;
      margin-right: .3rem;
      cursor: default;
      font-weight: bold;
      
      &--active{
        cursor: pointer;
        font-weight: normal;

        &::after{
          content: '>';
          position: relative;
          margin-left: .3rem;
        }
      }
    }
  }
}