.change-password-container{
}

.change-password-form{
  position: relative;

  &__close{
    position: absolute;
    padding: 0;
    right: 0;

    svg{
      width: 24px;
      fill: white;
    }
  }
}