.sign-in-form-container{
  background: rgb(65,77,241);
  background: linear-gradient(305deg, rgba(65,77,241,1) 0%, rgba(255,71,71,1) 100%);
  padding: 1rem 0;
}

.sign-in-form{
  padding: 1rem 2rem;
  width: 40%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  background: white;
  border-radius: .5rem;

  @media (max-width: 767px) { 
    width: 90%;
  }

  &__logo{
    width: 30%;

    @media (max-width: 767px) { 
      width: 50%;
    } 
  }

  &__heading{
    text-align: center;
    padding: 1rem;
  }

  &__sign-in-button{
    width: 100%;
    text-align: center;
  }

  &__register-hint{
    margin: 1rem 0;
    text-align: center;
  }
}