.query-box{
  width: 100%;
  padding: 1rem;

  &__form{
    align-items: center;
    display: flex;
  }

  &__input{
    flex: 0 1 100%;
  }

  &__mic-listening-container{
    position: fixed;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    svg{
      min-width: 5rem;
      min-height: 5rem;
      max-width: 5rem;
      max-height: 5rem;
      fill: url(#MyGradient);
    }
  }

  &__mic-listening-helper{
    background: rgb(65,77,241);
    background: linear-gradient(305deg, rgba(65,77,241,1) 0%, rgba(255,71,71,1) 100%);
    background-size: 400% 400%;
    min-height: 150px;
    min-width: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;  

    animation: gradient .3s ease infinite;

    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  }

  &__mic-listening{
    height: 140px;
    width: 140px;
    padding: 1rem;
    border-radius: 50%;
    background: #131417;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__mic-listening-text{
    color: white;
  }

  &__button{
    background: gray;
    margin: 0 0 0 .25rem;

    &:hover{
      background: white;

      svg{
        fill: gray;
      }
    }

    &--inactive{
      background: blue;

      &:hover{
        background: blue;
      }
    }

    svg{
      width: 1rem;
      fill: white;
    }
  }
}