.message{
  display: flex;
  padding: 1rem;

  &:first-child{
    margin-top: auto;
  }
}

.aggregation{
  margin-top: .5rem;
  margin-bottom: .5rem;
  border: 1px solid #DEE2E6;
  border-radius: 8px;
  padding: 1rem;
}